body {
	background: #e8eaf3;
	font-family: Roboto;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.task {
	width: 90%;
	margin-bottom: 20px;
	position: relative;
	justify-self: center;
	height: 90px;
	background-color: white;
	display: grid;
	grid-template-columns: 9fr 3fr;
}

.task-content {
	background-color: #e9f0fe;
	display: grid;
	grid-template-rows: 8fr 1fr 3fr;
	border-radius: 10px 0 0 10px;
}

.task-text {
	display: flex;
	align-items: center;
	padding: 0 15px;
}

.task-info {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 11px;
}

.divider {
	margin: 0;
	padding: 0;
	border: none;
	border-bottom: 1px solid #a0a6c3;
	margin-right: 15px;
	margin-left: 15px;
}

.task-button {
	display: flex;
	justify-content: center;
	background-color: #31a05f;
	color: white;
	border-radius: 0 10px 10px 0;
	transition: 0.2s ease-in-out;
}

.task-button img {
	transition: 0.2s ease-in-out;
	width: 28px;
}

.task-button:hover {
	background-color: rgb(46, 151, 90);
}

.task-button:hover img {
	transform: scale(1.2);
}

.close {
	position: absolute;
	z-index: 999;
	top: -10px;
	left: -10px;
	transition: 0.2s ease-in-out;
}
.close:hover {
	transform: scale(1.1);
}

.counter {
	padding: 25px;
	display: flex;
	align-items: center;
	justify-self: center;
}

.warp {
	margin: 20px auto;
	width: 320px;
	display: grid;
	background: #ffffff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);
	border-radius: 18px;
}

.control {
	display: grid;
	border-top: 1px solid grey;
}

.control-data {
	display: grid;
	padding: 15px;
}

.control-btn {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: #c43535;
	border-radius: 0 0 10px 10px;
	font-size: 22px;
}

.control-btn:hover {
	background-color: rgb(155, 35, 35);
}

.control-btn:hover img {
	transform: scale(1.2);
}

.control-btn div {
	display: flex;
}

.control-btn img {
	margin-right: 10px;
	width: 20px;
	transition: 0.2s ease-in-out;
}

.user-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
}

.user-info input {
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: 1px solid grey;
	outline: none;
	box-sizing: border-box;
}

.user-info input:focus {
	border-bottom: 2px solid blue;
}

.user-name {
	display: flex;
	justify-content: center;
}

.user-select {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

#slc {
	width: 90%;
}

.user-task textarea {
	margin: 20px 0;
	width: 100%;
	padding: 30px;
	border: none;
	border: 1px solid grey;
	outline: none;
	box-sizing: border-box;
}

.user-task input:focus {
	border-bottom: 2px solid blue;
}
